<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{asset('css/style.css') }}">
  <link rel="stylesheet" href="{{asset('css/font-awesome.min.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
  <script src="http://localhost:35729/livereload.js"></script>
  <script src="{{asset('js/header.js')}}"></script>
  <script src="{{asset('js/slider.js')}}"></script>
  {% block siteJS %}{% endblock %}
</head>
<body>
  <div class="container">
    {% block header %}{{ include('Views/Layout/header.html.twig') }}{% endblock %}
    {% block content %}{% endblock %}
    {% block login %}{% endblock %}
    {% block footer %}{{ include('Views/Layout/footer.html.twig') }}{% endblock %}
  </div>
</body>
</html>
