{% extends 'Views/Layout/layout.html.twig' %}

{% block content %}

<main>

  <div class="offer">
    <div class="offerImg">
      <span class="offerText">Lux<span class="colorRed">Car</span></span>
      <a href="{{url('offer')}}" class="offerButton">Zobacz Pełną Ofertę</a>
    </div>
  </div>

  <div class="slideshow-container">

  {% for car in cars %}
    <div class="mySlides fade">
      <img class="sliderImg" src="{{asset('img/' ~ car.imageMainUrl)}}">
      <div class="opacity"></div>
      <div class="text"><a class="sliderLink" href="{{url('offer', {'id': car.id})}}">{{car.brand}} {{car.Model}}</a></div>
    </div>
  {% endfor %}

    <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
    <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
  </div>

  <article class="article">
    <h2 class="articleHeaderS">SZEROKA OFERTA</h2>
    <h1 class="articleHeaderL">NAJLEPSZY WYBÓR</h1>
    <p class="articleText">Umożliwiamy wynajem długo lub krótkoterminowy. Zaloguj się, aby sprawdzić dostępność w dogodnym dla Ciebie terminie. Nie masz jeszcze konta? Zarejestruj się!</p>
    <p class="articleTextL">Pozwól nam spełnić swoje marzenia!</p>
    <a href="{{url('offer')}}" class="offerButton">Zobacz Pełną Ofertę</a>
  </article>

  <div class="articlePhoto">
    <img class="articleImg" src="{{asset('img/article1.jpg')}}">
  </div>

</main>

{% endblock %}
